.card{
    position: absolute;
    left:4vw;
    .card-body{
    
        border-radius: $border-radius;
        border: 1px;
        width:25vw;

        form{
            display:flex;
            flex-direction:column;
            margin-right: 2em;
            label{
                margin:$gutter-sm 0;
                display: flex;
                flex-direction:column;
            }
    

            input {
                width: 100%;
                display: block;
                border: solid 1px $black;
                padding: .5vw 1vw;
                border-radius: $border-radius;
    
                margin-bottom: $gutter-sm;
    
              }
        }
    }
}