
.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em 0;
    // position: relative;
    .list-container{
        // position: absolute;
        // right:20vw;
        margin: auto;
        ul {
            list-style-type:none;
            margin:0;
            padding:0;
            li{
            position: relative;
            .toast{
                width: 35vw;
                font-size: 1.2vw;
            }
            .badge{
                color:white;
                background-color: red;
                height: 2vw;
                margin-right: $gutter-sm;
                transition: $transition-sp;
                &.complete-true{
                    background-color: green;
                }
                &:hover{
                    cursor: pointer;
                    background-color: $secondary-color;
                }
            }
            strong{
                text-align: center;
            }
            .difficulty{
                position: absolute;
                right: 35px;
                font-size: 75%;
            }
            button{
                background-color: $white;
                color: $black;
                border-radius: $border-radius;
                border: none;
                position: absolute;
                height:$gutter-sm;
                width:$gutter-sm;
                right: 10px;
                transition: $transition-sp;
                text-align: center;
                padding: 0;

                &:hover{
                    background-color: $secondary-color;
                    color: $white;
                }
    
            }
        }
    }
}

}