body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
    font-family: $font-primary;

    button{
        background-color: $blue;
        color:$white;
        border-radius:$border-radius;
        border: 0;
        padding:$gutter-sm;
        transition: $transition-sp;
        &:hover{
            background-color: $primary-color;
        }
    }
    .page-link{
        &:hover{
            background-color: $primary-color;
            color: $white;
        }
    }
    .dropdown{
        margin-top: 5px;

    }
    .toggle-hide{
        margin-top: 5px;
    }
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em; 
        background-color: $blue;

    }
    .item {
        flex:1;
        padding: 1em;
    }

}
